.site-wrapper
  .site-wrapper-inner
    .cover-container
      .inner.cover
        %h1.cover-heading Hello Rails!
        %p.lead
          %a.btn.btn-lg.btn-info{:href => "projects_path"}
            Projects
