.jumbotron
  .container4
    %h1.cover-heading Hello Rails! 
    %br/ 
    %br/
    %p.lead
      %button.btn.btn-success.btn-lg{:type => "button"}
        = link_to 'Projects', controller: 'projects'
