%h1 Listing projects
      
%table
  %tr
    %th
    %th{:colspan => "3"}
  - projects = Project.all
  - projects.each do |project|
    %tr
      %td
        %p{:style => "margin:10px"}= link_to project.title, project
      %td
        - if can? :update, @project
          %p{:style => "margin:10px"}= link_to " Edit ", edit_project_path(project)
      %td
        %p{:style => "margin:10px"}= link_to ' Destroy ', project_path(project), |
          method: :delete,                           |
          data: { confirm: 'Are you sure?' }         |
  - if projects.size == 0
    %em No Project Found
    %br/
    %br/